In [1]:
print('Hello')

Hello

In [ ]:
!pip install psycopg2-binary

In [ ]:
import psycopg2
import sys
import pandas as pd

In [ ]:
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [21]:
# Connection parameters, yours will be different
conn_data = {
    "host"      : "10.220.120.36",
    "port"      : "5432",
    "database"  : "spotify",
    "user"      : "fa",
    "password"  : "1234"
}

In [22]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

In [23]:
# Connect to the database
conn = connect(conn_data)
column_names = ["name"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select name from d_albums",column_names)
df

Connecting to the PostgreSQL database...
Connection successful

     name
0  Name 1
1  Name 2

In [37]:
## ok conexi'on a postgres debe ponerse los datos de la ip de la pc

## ahora directo intentar insertar
cursor=conn.cursor()
cursor.execute('select * from d_albums')
result=cursor.fetchall()
result

[(1, '12345678', 'Name 1'),
 (2, '2345679', 'Name 2'),
 (3, '34456789', 'name 3 inserted from python')]

In [34]:
cursor.execute("insert into d_albums (sk_id,bk_id,name) values (3,'34456789','name 3 inserted from python') ")
conn.commit()
cursor.execute('select * from d_albums')
result=cursor.fetchall()
result

UniqueViolation: duplicate key value violates unique constraint "d_albums_pkey"
DETAIL:  Key (sk_id)=(3) already exists.

In [38]:
cursor.execute('delete from d_albums')

In [42]:
cursor.execute('select * from d_albums')
result=cursor.fetchall()
result

[(1, '12345678', 'Name 1'),
 (2, '2345679', 'Name 2'),
 (3, '34456789', 'name 3 inserted from python')]

In [41]:
conn.rollback()